body {
  display: flex;
  flex-direction: column;
  font-family: "Courier New", Courier, monospace;
}

#container {
  border: 2px solid gray;
  padding: 5px;
  height: 500px;
  flex: 1;
}

#inputs {
  display: flex;
  flex-direction: row;
  margin-top: 5px;
}

#user {
  border: 2px solid gray;
  font-size: 18px;
  margin-right: 5px;
  transition: border-color 0.5s linear;
}

#message {
  border: 2px solid gray;
  font-size: 18px;
  flex: 1;
}

h1 {
  margin: 0;
  color: #555;
  font-weight: 600;
}
